/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1025px;

// Large desktops
$screen-xl-min: 1440px;

// Colors
$white: #fff;
$black: #000;
$hotpink: #FA448D;
$green: #42B5A0;
$yellow: #FEC858;
$darkpurple: #331B39;
$purple:#492188;


