#music-box-container {
    position: fixed;
    bottom: 30px;
    right: 30px;
    // margin-top: 100px;
    // margin-bottom: 50px;
    
    // display: flex;
    // justify-content: flex-end;

    #music {
        #box {
            cursor: pointer;
            transition: 0.25s;
        }

    }
}